
body {
    font: 18px/1.5em "Source Sans Pro";
    width: 80%;
    margin-left: 10%;

}

h1, h2, h3, h4, h5, h6 {
    font-family: Source Sans Pro, sans-serif;
    font-weight: normal;
    margin:1em 0em 1em 0;
}

h1 {
    font-size: 218%;
}

h2 {
    font-size: 164%;
}

h3 {
    font-size: 145%;
}

h4 {
    font-size: 118%;
}
.code{
    font-family: Courier New;
}